@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --width: 300px;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: #fefefe;
    color: #2a2b2f;
}

ul {
    margin-left: 20px;
}

a {
    color: #2a2b2f;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: crimson;
}

.content {
padding: 50px;
}

h1,
h2 {
    width: var(--width);
    border-bottom: 1px solid #f2f2f2;
}


.random {
    margin: 70px 0;
}

.random-text {
    width: var(--width);
    margin: 5px 0;
}

button {
    color: inherit;
    font-family: inherit;
    padding: 3px 8px;
    border: 1px solid gray;
    border-radius: 8px;
}

button:hover {
    cursor:pointer;
    filter: brightness(.90);
}

